body {
  background-color: #f5f7fb;
  font-family: "Segoe UI", sans-serif;
}

/* COVER */
.profile-cover {
  height: 160px;
  background-color: #552586;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative; 
}

/* AVATAR */
.profile-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  bottom: -60px;       
  left: 20%;
  transform: translateX(-50%);
  background: #fff;
}

/* HEADER */
.profile-header {
  margin-top: 80px;   
  padding-left: 40px;
}


/* STAT BOX */
.stat-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.stat-box h5 {
  margin-bottom: 5px;
}

/* INFO */
.info-item {
  font-size: 14px;
  margin-bottom: 10px;
}

.info-item i {
  color: #0d6efd;
  margin-right: 8px;
}

/* CHART */
.chart-box {
  height: 220px;
  border-radius: 10px;
  background: linear-gradient(180deg, #e9f1ff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  padding: 20px;
  color: #6c757d;
}
